@font-face {
  font-family: "e-Ukraine";
  src: url("./e-Ukraine-Light.otf");
 }
.more_menu_item {
  text-align: center;
  display: inline-block;
  padding: 20px 0px 20px 0px;
  width: 100%;
}

.separator {
  height: 3px;
  width: 70%;
  background-color: #afc8e3;
  border: 0;
}

.more_menu_item.krest_down {
  height: 30px;
  background-image: url(../img/icons/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.more_menu {
  display: flex;
  height: 35%;
  top: 65%;
  position: absolute;
  z-index: 993;
  border: solid 0px black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fefefe;
}

.hidde {
  display: none;
}

.overlay {
  z-index: 894;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: black;
}
html {
  background-color: #d2e1ee;
  background: #b0c6e7;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition-duration: 0.3s !important;
  transition: 0.3s !important;
}

body {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);

  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "e-Ukraine";
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.loading-screen {
  width: inherit;
  height: inherit;
  z-index: 993;
}

.loading-screen.layer-one {
  background: linear-gradient(
    315deg,
    rgba(254, 168, 229, 1) 0%,
    rgba(121, 226, 185, 1) 47%,
    rgba(121, 226, 185, 1) 100%
  );
}

.loading-screen.layer-two {
  background: linear-gradient(
    19deg,
    rgba(159, 215, 248, 0) 0%,
    rgba(159, 215, 248, 0) 36%,
    rgba(159, 215, 248, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu {
  display: flex !important;
  justify-content: flex-start !important;
  top: 0;
  margin-top: 0;
}

.poslugi > .mainpage {
  overflow: scroll;
}

.menulist > span {
  margin-left: 25px;
}

.cov > div {
  color: #9ba2a9;
  font-size: 12px;
  margin-right: 25px;
}

.cov.menulist {
  color: #9ba2a9;
}

.footer {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

.arrow {
  background-image: url(../img/icons/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 14px;
  width: 23px;
  margin-right: 25px;
}

.menulid > .footer {
  position: absolute;
  background: #dce8f4;
  padding-top: 13px;
  bottom: 0;
  border-top: solid 1px #c8d4e0;
}

.poslugi > .footer {
  position: absolute;
  background: #dce8f4;
  padding-top: 13px;
  bottom: 0;
  border-top: solid 1px #c8d4e0;
}

.menulist {
  min-height: 65px;
  display: flex;
  align-items: center;
  border-bottom: solid 2px #d6e3ee;
  justify-content: space-between;
}

i.far {
  margin-right: 10px;
}

.sos:nth-child(1) > span > div {
  background-image: url(../img/icons/1.png);
}

.sos:nth-child(2) > span > div {
  background-image: url(../img/icons/2.png);
}

.sos:nth-child(3) > span > div {
  background-image: url(../img/icons/3.png);
}

.sos:nth-child(4) > span > div {
  background-image: url(../img/icons/4.png);
}

.sos:nth-child(5) > span > div {
  background-image: url(../img/icons/5.png);
}

.sos:nth-child(6) > span > div {
  background-image: url(../img/icons/6.png);
}

.sos:nth-child(7) > span > div {
  background-image: url(../img/icons/7.png);
}

.sos:nth-child(8) > span > div {
  background-image: url(../img/icons/8.png);
}

.sos:nth-child(9) > span > div {
  background-image: url(../img/icons/9.png);
}

.sos:nth-child(10) > span > div {
  background-image: url(../img/icons/10.png);
}

.sos:nth-child(11) > span > div {
  background-image: url(../img/icons/11.png);
}

.sos:nth-child(12) > span > div {
  background-image: url(../img/icons/12.png);
}

.sos > span > div {
  width: 25px;
  height: 23px;
  display: inline-block;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.sos > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  overflow: scroll;
  position: absolute;
  max-height: 630px;
}

.zaz {
  border-bottom: solid 2px #d6e3ee !important;
}

.sos {
  border-bottom: none;
}

.menutitile {
  margin-left: 70px !important;
  margin-top: 7px !important;
}

.menulid > .header {
  background: #c8d8e7;
}

.notifications > .header,
.poslugi > .header {
  background: #c9d8e7;
}

.menulid {
  background: #e9eff5;
}

.notifications,
.poslugi {
  background: #dee8f1;
}

.pathtitle {
  margin-left: 70px;
  margin-top: 16px;
}

.loadtext {
  font-family: "e-UkraineHead";
  font-size: 0.875rem;
  line-height: 1.4rem;
  z-index: 2323234234234;
}

.mainpage,
.notifications,
.poslugi,
.menulid {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 2000px;
}

.passport.is-flipped {
  transition: transform 0.5s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.mainpage > div,
.notifications > div,
.poslugi > div,
.menulid > div {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.refresh {
  display: contents !important;
  font-size: 11px;
}

.rf_title {
  height: 20px;
}

.glav {
  font-size: 24px;
  margin: 16px;
  margin-top: 24px;
}

.unloaded.drive {
  display: block;
  width: 100%;
}

.front {
  position: fixed;
}

.back {
  position: relative;
  transform: rotateY(180deg);
}

.header {
  max-height: 95px;
}

.passport {
  align-items: center;
  max-width: fit-content;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.information {
  margin: 16px;
  display: flex;
  flex-direction: row;
}

.sign {
  width: 46px;
  height: 54px;
  background-size: cover;
  mix-blend-mode: multiply;
  position: absolute;
  margin-left: 38px;
  margin-top: 23px;
  background-position: center center;
  background-repeat: no-repeat;
}

.copy {
  background-image: url(../img/icons/copy.png);
  width: 23px;
  height: 23px;
  background-size: contain;
  margin-left: 210px;
  position: absolute;
  margin-top: -53px;
  background-position: center center;
}

.gerb {
  background-image: url(../img/icons/gerb.png);
  width: 16px;
  height: 26px;
  background-size: contain;
  margin-left: 132px;
  position: absolute;
  margin-top: -42px;
  background-position: center center;
}

.number {
  margin-top: 16px;
}

.numberr {
  margin-top: 16px;
}

.info {
  max-width: 1px;
  margin-left: 16px;
}

.name {
  font-size: 24px;
  width: 1px;
  margin: 16px;
  margin-bottom: 24px;
}

.razdel {
  height: 2px;
  margin: 16px;
  background: rgb(176, 198, 231);
}

.image {
  background-size: cover;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(176, 198, 231);
  border-image: initial;
  background-position: center center;
  background-repeat: no-repeat;
  width: 153px;
  height: 198px;
}

.opis {
  margin-top: 8px;
}

.dots {
  background-image: url(../img/icons/dots.png);
  height: 7px;
  width: 36px;
  background-size: contain;
  background-repeat: no-repeat;
}

.hidden {
  display: none !important;
}

.back {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unloaded > .qr_title {
  margin: 16px;
}

.unloaded {
  font-size: 11px;
  position: absolute;
}

.swiper-slide {
  transition-duration: 0.3s !important;
  height: auto !important;
}

.content {
  width: 340px;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 14px 28px,
    rgba(0, 0, 0, 0.05) 0px 12px 10px;
  background: rgb(215, 227, 242);
  border-radius: 8.5px;
  transition: 0.3s !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px;
}

.scanqr {
  background-image: url(../img/qr.png);
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 20px;
}

.diya {
  background-image: url(../img/diya.svg);
  background-size: contain;
  background-position: center;
  width: 53px;
  height: 53px;
}

.ft_icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 11px;
}

.ico {
  width: 24px;
  height: 24px;
  background-size: contain;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4px;
}

.zep {
  position: absolute;
}

.doc > .ico {
  background-image: url(../img/icons/docin.png);
}

.notifications > .footer {
  padding-top: 13px;
  bottom: 0;
}

.notifications > .mainpage {
  margin: 0 25px;
}

.okimg {
  background-image: url(../img/icons/ok.png);
  width: 40px !important;
  height: 40px !important;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px !important;
}

.ok {
  margin-left: 50px;
  font-size: 24px;
  height: 473px;
  max-height: 150px;
}

.doc.act > .ico {
  background-image: url(../img/icons/docac.png);
}

.pos > .ico {
  background-image: url(../img/icons/posin.png);
}

.pos.act > .ico {
  background-image: url(../img/icons/posac.png);
}

.pov > .ico {
  background-image: url(../img/icons/notin.png);
}

.pov.act > .ico {
  background-image: url(../img/icons/notac.png);
}

.men > .ico {
  background-image: url(../img/icons/menuin.png);
}

.men.act > .ico {
  background-image: url(../img/icons/menuac.png);
}

.qr_title {
  font-size: 11px;
  margin-top: 26px;
  font-weight: 900;
}

.sh > .qr_body > .qr_title {
  margin-top: 105px;
}

.sh > .qr_body > .qr_title.o {
  margin-top: 105px;
}

.sh > .qrbuttons {
  text-align: center;
}

.opis {
  font-size: 14px;
}

.sh > .qr_body > .qr_title.t {
  letter-spacing: 9px;
  text-align: center;
  font-size: 15px;
  margin-top: 16px;
  font-weight: 300;
  margin-bottom: 115px;
}

.shcode {
  background-image: url(../img/client/nu1q5DK.png);
  background-size: contain;
  background-position: center;
  width: 252px;
  margin-top: 20px;
  height: 76px;
}

.qrcode {
  background-image: url(../img/client/9aRH1Vs.png);
  background-size: contain;
  background-position: center;
  width: 252px;
  margin-top: 20px;
  height: 252px;
}

.zshicon,
.pshicon,
.nshicon,
.vshicon,
.cshicon {
  background-image: url(../img/icons/shtrihinc.png);
  background-size: contain;
  background-position: center;
  /* margin: auto; */
  width: 92px;
  height: 62px;
  background-repeat: no-repeat;
  /* margin-top: 50px; */
  margin-bottom: 16px;
  display: inline-block;
}

.qrbuttons {
  text-align: center;
  margin-top: 53px;
}

.zshicon.act,
.pshicon.act,
.nshicon.act,
.vshicon.act,
.cshicon.act {
  background-image: url(../img/icons/shtrihact.png) !important;
}
.zqricon.act,
.pqricon.act,
.nqricon.act,
.vqricon.act,
.cqricon.act {
  background-image: url(../img/icons/qrcodeact.png) !important;
}
.zqricon,
.pqricon,
.nqricon,
.vqricon,
.cqricon {
  background-image: url(../img/icons/qrcodeinc.png);
  background-size: contain;
  background-position: center;
  /* margin: auto; */
  width: 92px;
  height: 62px;
  background-repeat: no-repeat;
  /* margin-top: 50px; */
  margin-bottom: 16px;
  display: inline-block;
  margin-right: 26px;
}

.loadpage {
  width: 100%;
  height: 100%;
  z-index: 9999999999999999999999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.zublogo {
  background-image: url(../img/uasign.svg);
  width: 75px;
  height: 75px;
  z-index: 234231;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

.diyalogo {
  background-image: url(../img/diya.svg);
  width: 75px;
  height: 75px;
  z-index: 234234;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

@-webkit-keyframes granimate {
  0%,
  100% {
    background-position: 0 25%;
  }
  25%,
  75% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
}

.key {
  width: 80px;
  height: 80px;
  border-radius: 1000px;
  font-size: 36px;
  border: solid 2px black;
  display: inline-block;
}

.key:active {
  color: #fff;
  background-color: black;
}

.login_title {
  flex-grow: 4;
  display: flex;
  align-items: center;

  font-size: 26px;
}

.cricles {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  width: 89px;
  display: inline-flex;

  flex-grow: 1;
  margin-bottom: 30px;
}

.eblo > span,
.krest > span {
  opacity: 0;
}

.eblo {
  background-image: url(../img/eblo.png) !important;
  background-size: 90%;
  background-position: center;
  width: 80px;
  height: 80px;
  border-radius: 1000px;
  font-size: 36px;
  border: 0;
  display: inline-block;
}

.krest {
  border: 0;
  background-image: url(../img/krest.png) !important;
  background-size: 140%;
  background-position: center;
  width: 80px;
  height: 80px;
  border-radius: 0px;
}
.sign {
  width: 103px;
  height: 66px;
  background-size: cover;
  mix-blend-mode: multiply;
  position: absolute;
  margin-left: 0px;
  margin-top: 23px;
  background-position: center center;
  background-repeat: no-repeat;
}

.dot {
  width: 8px;
  height: 8px;
  border: solid 2px black;
  border-radius: 15px;
}

.key > span {
  display: block;
  margin-top: 17px;
}

.t10 {
  margin-top: 10px;
}

.r25 {
  margin-right: 17px;
}

.login_footer {
  font-size: 14px;
  height: 35px;
  flex-grow: 1;
}

.keyboard {
  font-size: 20px;
  text-align: center;
  width: 320px;
  display: inline;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: -70px;

  flex-grow: 1;
}

.platnik > .number {
  margin: 16px;
  margin-bottom: 24px;
  margin-top: 27px;
  font-size: 30px;
}

.platnik > .numberr {
  margin: 16px;
  margin-bottom: 24px;
  margin-top: 27px;
  font-size: 30px;
}

.platnik > .line {
  background: linear-gradient(90deg, #b6eb9f, #9ccfcf);
  margin-top: 53px;
  position: relative;
  overflow: hidden;
}

.dit_dot {
  width: 5px;
  border-radius: 100px;
  height: 5px;
  background: black;
  display: inline-block;
  background: #7c8aa1;
  transition: 0.2s;
}

.dit_dot.act {
  background: black;
  width: 7px;
  height: 7px;
}

.doba {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 30px;
  align-items: center;
}

.rod_deskr {
  font-size: 13px;
  margin: 16px;
  margin-top: 23px;
}

.line > div {
  white-space: nowrap;
  display: flex;
  position: relative;
  margin-top: 5px;
  margin-right: 50px;
  float: left;
  font-size: 14px;
  height: 23px;
}

.rod_but {
  width: 136px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 1000px;
  margin: 0 auto;
  border: solid 2px black;
  background: transparent;
  margin-top: 120px;
  margin-bottom: 24px;
}

.platnik > .date {
  margin: 16px;
  margin-bottom: 24px;
  margin-top: 20px;
  width: 200px;
}

.loginpage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: absolute;
  z-index: 5;
  background: #d8e3ee;
  flex-direction: column;
  flex-wrap: nowrap;

  flex-grow: 1;
}

.rodi {
  font-size: 24px;
  margin: 16px;
  margin-top: 24px;
}

.deskr {
  font-size: 12px;
  margin: 16px;
}

.nonono {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  width: 100%;
  text-align: center;
}

.nonono > img {
  border: solid;
  width: 150px;
}

.more {
  background-image: url(../img/icons/3kita.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  z-index: -5;
  margin-top: -56px;
  margin-left: 296px;
}

.loader_line {
  width: 99.1%;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 1px;
  transform: translate(-50%, -50%);
  height: 5px;
  background: -webkit-linear-gradient(45deg, #94b0f2, #ecc0b8);
  border-radius: 12px 12px 0 0;
}

.pressed {
  background: black;
}

.ok {
  max-width: 354px;
}
